/* место для вашего кода */
.header {
  position: relative;
  width: 1100px;
  height: 293px;
  margin: 0 auto;
}

.header__menu {
  position: absolute;
  width: 391.48px;
  height: 22px;
  left: 50px;
  top: 133px;
}

.header__link-list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__link-list-item {
  position: relative;
}

.header__link-list-item:not(:first-child)::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  left: -16px;
  top: 8px;
  border: 0.5px solid #000000;
  border-radius: 50%;
}

.header__link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.header__link:not(.header__link_active) {
  border-bottom-color: black;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  position: absolute;
  width: 148px;
  height: 105px;
  top: 92px;
  left: 478px;
}

.header__logo-image {
  width: 100%;
  height: auto;
}

.header__address {
  position: absolute;
  display: flex;
  width: 240px;
  height: 98px;
  right: 50px;
  top: 95px;
  font-style: normal;
}

.header__address a {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 5px;
}

.header__address p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  margin: 0 auto 180px;
  background: url('../images/cover.jpg') center/cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.6;
}

.cover__title {
  position: absolute;
  width: 1000px;
  height: 385px;
  left: 50px;
  top: 165px;
}

.aligned-text {
  position: absolute;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.aligned-text_left {
  text-align: left;
  width: 286px;
  left: 0;
  top: 0;
}

.aligned-text_center {
  text-align: center;
  width: 339px;
  left: 330px; 
  top: 135px;
}

.aligned-text_right {
  text-align: right;
  width: 387px;
  left: 613px;
  top: 270px;
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: absolute;
  width: 1000px;
  height: 51px;
  left: 50px;
  top: 656px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  background: transparent;
  border: 1px solid #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.lots {
  width: 1100px;
  margin: 0 auto 180px;
  padding: 0 50px;
}

.lots__heading {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 0;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
  justify-content: center;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  flex-shrink: 0;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 2;
  margin-bottom: auto;
}

.card__text {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #FFFFFF;
  z-index: 2;
  margin-top: 30px;
}

.lots__look-more-link {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  margin-left: 50px;
  text-transform: lowercase;
    
}

.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.about {
  position: relative;
  width: 1100px;
  height: 595px;
  margin: 0 auto 180px;
}

.about__column:first-child {
  position: absolute;
  width: 240px;
  height: 240px;
  left: 47px;
  top: 35px;
}

.about__logo {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about__column:last-child {
  position: absolute;
  width: 693px;
  left: 359px;
  top: 133px;
}

.about__title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
  color: #000000;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}


.about__text p:first-child {
  width: 688px;
}

.about__text p:last-child {
  width: 693px;
}

.footer {
  position: relative;
  width: 1100px;
  height: 180px;
  margin: 0 auto;
  padding: 180px 50px 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.footer__address {
  font-style: normal;
  max-width: 240px;
}

.footer__address a {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 5px;
  width: fit-content;
}

.footer__address p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer__menu-list-item {
  margin-bottom: 5px;
}

.footer__menu-link {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.footer__menu-link:not(.footer__menu-link_active) {
  border-bottom-color: #000000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}