.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.header__links-list-item {
    position: relative;
    list-style: none;
}

.header__links-list-item:not(:first-child) {
    list-style: circle;
}

.header__link {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.header__link:not(.header__link_active) {
    border-bottom-color: black;
}

.header__link_active {
    border-bottom: none;
}

.header__logo {
  display: grid;
  align-content: start;
  width: 138px;
  height: 105px;
}

.header__logo-image {
  display: block;
  align-content: start;
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.address a {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.address p {
  margin: 0;
}

.address-header {
  justify-self: end;
  width: 240px;
  padding-right: 5px;
}

.address-footer {
  max-width: 240px;
}

.cover {
    position: relative;
    width: 1100px;
    min-height: 757px;
    margin: 0 auto 180px;
    background: url('../images/cover.jpg') center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 165px 50px 50px;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    inset: 0;
    background: #000000;
    opacity: 0.6;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

.aligned-text {
    display: block;
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    margin-left: 25px;
}

.aligned-text_right {
    text-align: right;
    margin-right: -30px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.cover__description-text {
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    word-spacing: 18px;
    margin: 0;
}

.bet-button {
    width: 256px;
    height: 51px;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-family: 'Raleway', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.lots {
    margin: 180px 24px 0px 24px;
    flex-shrink: 0;
}

.lots__heading {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
  line-height: normal;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
    justify-content: space-between;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    flex-shrink: 0;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
    margin-bottom: auto;
}

.card__text {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: #FFFFFF;
    z-index: 2;
    margin-top: 30px;
}

.lots__look-more-link {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    margin-left: 40px;
    text-transform: lowercase;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    width: 1100px;
    margin: 0 auto;
    padding: 155px 24px;
    box-sizing: border-box;
}

.about__column:first-child {
    display: flex;
    justify-content: center;
}

.about__column:last-child {
  display: flex;
  flex-direction: column;
  gap: 0px; 
  padding-top: 100px;
  padding-right: 5px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: auto;
}

.about__title {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
    color: #000000;
    justify-self: start;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about__text p {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

.footer {
    width: 1100px;
    margin: 0 auto;
    padding: 26px 50px 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer__menu-list-item {
    margin-bottom: 0px;
}

.footer__menu-link {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.footer__menu-link:not(.footer__menu-link_active) {
    border-bottom-color: #000000;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-self: end;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}